.evolution-chain-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #344955;
    color: #B0BEC5;
    text-align: center;
    margin: 120px auto;
    box-shadow: 0 0 50px 4px darkgray;
    border-radius: 15px;
    max-width: 1200px;
    transition: all 0.3s ease;
}

.evolution-chain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.evolution-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid #455A64;
    border-radius: 10px;
    background-color: #546E7A;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: #ECEFF1;
}

.evolution-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.evolution-item img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.evolution-item p {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 800px) {
    .evolution-chain-container {
        padding: 20px;
    }

    .evolution-chain {
        flex-direction: column;
        align-items: center;
    }

    .evolution-item {
        width: 100%;
        margin: 10px 0;
    }
}
