.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 90px;
    text-align: center;
    background-color: #344955;
    color: #ECEFF1;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #455A64;
    color: #ECEFF1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.pokemon-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.pokemon-info, .pokemon-stats, .evolution-chain {
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #546E7A;
}

.pokemon-info {
    border: 2px solid #455A64;
}

.pokemon-stats {
    margin: 80px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    text-align: left;
    background-color: #546E7A;
}

.pokemon-stats div {
    background-color: #455A64;
    padding: 10px;
    border-radius: 8px;
    color: #ECEFF1;
}

@media (max-width: 600px) {
    .pokemon-info, .pokemon-stats {
        padding: 10px;
    }

    .pokemon-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .pokemon-stats div {
        padding: 5px;
    }
}
